.body{
position: relative;
width: 1600px;
height: 1500px;
background: #0B132B;
color:white;
min-width: 1024px;
min-height: 720px;
}
.des
{
position: absolute;
width: 712.33px;
height: 569px;
left: -38px;
top: 250px;
}
.getstarted
{
position: absolute;
width: 229px;
height: 231px;
left: 921px;
top: 396px;
}
.polygon5
{
position: absolute;
width: 229px;
height: 231px;
left: 579px;
top: 198px;
}
