/* Polygon 1 */
.polygon1{
position: absolute;
width: 229px;
height: 231px;
left: 692px;
top: 396px;

}

/* Polygon 2 */
.polygon2{
position: absolute;
width: 229px;
height: 231px;
left: 1150px;
top: 0px;

}

/* Polygon 3 */
.polygon3{
position: absolute;
width: 229px;
height: 231px;
left: 920px;
top: 0px;
}

/* Polygon 12 */
.polygon12{
position: absolute;
width: 229px;
height: 231px;
left: 579px;
top: 601px;

}

/* Polygon 13 */
.polygon13{
position: absolute;
width: 229px;
height: 231px;
left: 693px;
top: 802px;

}

/* Polygon 14 */
.polygon14{
position: absolute;
width: 229px;
height: 231px;
left: 1143px;
top: 802px;

}

/* Polygon 15 */
.polygon15{
position: absolute;
width: 229px;
height: 231px;
left: 1258px;
top: 611px;


}

/* Polygon 4 */
.polygon4{
position: absolute;
width: 229px;
height: 231px;
left: 1258px;
top: 198px;


}

/* Polygon 5 */
.polygon5{
position: absolute;
width: 229px;
height: 231px;
left: 579px;
top: 198px;

}

/* Polygon 6 */
.polygon6{
position: absolute;
width: 229px;
height: 231px;
left: 921px;
top: 396px;
}

/* Polygon 7 */
.polygon7{
position: absolute;
width: 229px;
height: 231px;
left: 1036px;
top: 601px;

}

/* Polygon 8 */
.polygon8{
position: absolute;
width: 229px;
height: 231px;
left: 1150px;
top: 396px;

}

/* Polygon 9 */
.polygon9{
position: absolute;
width: 229px;
height: 231px;
left: 1035px;
top: 198px;

}

/* Polygon 10 */
.polygon10{
position: absolute;
width: 229px;
height: 231px;
left: 807px;
top: 601px;

}

/* Polygon 11 */
.polygon11{
position: absolute;
width: 229px;
height: 231px;
left: 807px;
top: 192px;
}



