@font-face{
    font-family: 'Reem Kufi', sans-serif !important;
    src: url("./../../components/fonts/ReemKufi-Regular.ttf");
    }
.video
{
    height : 100vh;
    background:#0B132B;
    width: 100%;
    display: flex;
}
.videoplayer_body
{
    display: flex;
    flex-direction: row;
    position: relative;
    color:white;
    height:100%;
    width:100%;
    
}

.videoarea
{
    margin-top: 80px;
    padding-top: 80px;
    margin-left: 30px;
    padding: 0px;
    max-width: 700px;
    height: 510px;
    left: 62px;
    top: 200px;

    background: rgba(196, 196, 196, 0.07);
    border: 4px solid #6FFFE9;
    box-sizing: border-box;
    border-radius: 24px;
}
.nowplaying
{
    display:flex;
    width:60%;
    height:100%;
    color:white;
    flex-direction: column;
    
}
.sideband
{
    margin-top:60px;
    padding-top: 10px;
    display:flex;
    width:40%;
    height: 100%;
    background:rgba(58, 80, 107,0.9);
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.sideband::-webkit-scrollbar
{
    display: none;
}
body::-webkit-scrollbar
{
    display: none;
}
.videoTitle
{
    font-size: 30px;
    margin-left: 40px;
    padding: 0px;
}
.videosuggestions
{
    width: 50%;
    height: 125px;
    max-width: 240px;
    display: flex;
    background: rgba(28, 37, 65, 0.85);
    border: 5px solid #5BC0BE;
    box-sizing: border-box;
    border-radius: 14px;
    align-items: center;
    margin-left:10px;
    flex-direction: row;
}
.viewcountbar
{
    width: 89%;
    margin-top: -10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    padding-top: 0px;
    height:10px;
    align-items: center;
}
.thumbnails
{
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 14px;   
}
body
{
    height:90vh;
    width: 100%;
    background:#0B132B;
}


.suggestionflex
{
    display:flex;
    flex-direction: row;
    padding:10px;
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;
}
.suggestionflex:hover
{
    background: rgba(28, 37, 65, 0.925);
}
.details
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    
}
.actionbar
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
    height:9px;
    align-items: center;
}
.videoname
{
    font-size: larger;
    font-weight: 600;
    padding: 0px;
}
.viewbar
{
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}
