body {
  margin: 0;
  font-family: 'Reem Kufi', sans-serif !important;
  src: url("./../../venn-wedo/src/components/fonts/ReemKufi-Regular.ttf");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
